@using Classifieds.ServiceInterface
@inherits ViewPage
@{
    ViewBag.Title = "Create Listing";
}





<div class="container">
    <div class="alert alert-info">
        <p>Congrats, your ad has been successfully added & is now viewable.</p>
    </div>
</div>

